/*
vw = ViewPort Width (tamanho vertical da tela)
1px  = 0,052vw | 5px  = 0,26vw
1rem = 19px    | 1rem = 0,988vw
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); */

.theme-light {
  --color-action: #1F1A55;
  --color-font: #000000;
  --color-base: #f0e8db;
  --color-var: #eaddc8;
  --color-shadow: #121212;
  --color-accent: #fd6f53;
}

.theme-dark {
  --color-action: #17ed90;
  --color-font: #ffffff;
  --color-base: #253238;
  --color-var: #15242a;
  --color-shadow: #E0E0E0;
  /* --color-shadow: #EDE7DF; */
  /* --color-shadow: #eaddc8; */
  --color-accent: #12cdea;
}

.theme-lighter {
  /* --color-action: #28548e; */
  --color-action: #103A70;
  --color-font: #000000;
  --color-base: #ffffff;
  --color-var: #ebebeb;
  --color-shadow: #121212;
  --color-accent: #fd6f53;
}

.theme-darker {
  --color-action: #a77a46;
  --color-font: #ffffff;
  --color-base: #343434;
  --color-var: #181818;
  --color-shadow: #DBC8B3;
  /* --color-shadow: #DBD5D5; */
  --color-accent: #12cdea;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--color-font);
  scroll-behavior: smooth;
}

body {
  font-family: 'Baloo 2', cursive;
  background-color: var(--color-base);
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;
  padding: .8rem 6vw;
  background-color: var(--color-shadow);
  opacity: 1;
  box-shadow: 0px 0px 5px 0px var(--color-shadow);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: var(--color-var);
  padding: .3rem;
  border-style: groove;
  border-width: thin;
  font-variant: small-caps;
  border-color: var(--color-var);
}

.header__menu {
  position: fixed;
  top: 3.2rem;
  width: 25%;
  min-width: 180px;
  max-height: 0;
  right: 0;
  background-color: var(--color-shadow);
  overflow: hidden;
  transition: max-height .5s ease-out;
  display: flex;
  align-items: center;
}

.whatsapp-link, .instagram-link, .email-link, .theme-link {
  font-size: 19px;
}

.fa {
  color: var(--color-var);
}

.menu-list a {
  display: block;
  padding: .8rem 3rem;
  color: var(--color-var);
}

.menu-list a:hover, .fa:hover {
  font-weight: bold;
  font-size: 19px;
}

.fa:hover {
  font-size: 20px;
}

.hamb {
  cursor: pointer;
  padding: 1rem;
}

.hamb-line {
  background-color: var(--color-var);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background-color: var(--color-var);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

/* Toggle menu icon */
.side-menu:checked~.header__menu {
  max-height: 100%;
}

.side-menu:checked~.hamb .hamb-line {
  background: transparent;
}

.side-menu:checked~.hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked~.hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.top-content {
  display: block;
}

.top-content img {
  /* opacity: .6; */
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  z-index: 0;
}

.top-content__h1 {
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-content__h1 > h1 {
    font-size: 1.6rem;
    text-align: center;
    /*font-family: 'Montserrat', sans-serif;
    */font-family: 'Baloo 2', cursive;
}

input {
  display: none;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters-fieldset {
  width: 100%;
  height: 100%;
  border: none;
}

.filters-fieldset > legend {
  font-weight: bold;
  font-size: .8rem;
  color: #999;
  margin-bottom: 10px;
  margin: auto;
  font-variant: small-caps;
}

.gallery__filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .4rem;
  position: none;
  margin: 0 auto;
  background-color: var(--color-base);
  padding: .2rem 4vw;
  min-width: 150px;
  max-width: 1620px;
  width: 100%;
}

.filter-label {
  line-height: 3.5rem;
  color: var(--color-font);
  text-align: center;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: .2s;
}

.filter-label:hover {
  background-color: var(--color-var);
  transition: all .2s ease-in-out;
}

#rd-pessoal:checked~#filters .pessoal,
#rd-moda:checked~#filters .moda,
#rd-gestante:checked~#filters .gestante,
#rd-estudio:checked~#filters .estudio,
#rd-corporativo:checked~#filters .corporativo {
  color: var(--color-action);
  background-color: var(--color-var);
  border-width: 2px;
}

.gallery-container {
  max-width: 1620px;
  margin: 0 auto;
  min-height: 90vh;
  width: 100%;
  padding: 0 4vw;
}

#gallery {
  display: grid;
  grid-gap: .3rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.gallery__image {
  object-fit: cover;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

#gallery {
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

#gallery.gallery-active {
  opacity: 1;
}

.image-grid-2-cols {
  grid-column: span 2;
}

.image-grid-2-rows {
  grid-row: span 2;
}

.gallery__image:hover {
  box-shadow: 1px 1px 6px var(--color-shadow);
}

#popup-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  padding: .6rem;
  max-width: 100%;
  transform: translateY(-100%);
  transition: 250ms transform;
  z-index: 10;
}

#popup-container>button {
  border: none;
  cursor: pointer;
}

.arrow-button {
  position: absolute;
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, .2);
}

.arrow-button>div {
  border: 1px solid rgba(0, 0, 0, .6);
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

#btn-previous {
  left: 2rem;
}

#btn-next {
  right: 2rem;
}

.arrow-button:hover {
  background-color: rgba(255, 255, 255, .8);
}

#popup-container>button>div {
  height: 15px;
  width: 15px;
  border-width: 5px 5px 0 0;
}

.left-arrow {
  margin-left: 13px;
  transform: rotate(225deg);
}

.right-arrow {
  margin-left: 9px;
  transform: rotate(45deg);
}

#btn-close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 1%;
  top: 1%;
  background: none;
  border: none;
  cursor: pointer;
}

#btn-close>div {
  border: 1px solid rgba(230, 230, 230, 1);
}

#btn-close .left-arrow {
  margin-top: -15px;
  margin-left: 23px;
}

#btn-close:hover {
  border: 1px solid white;
}

#selected-image {
  max-height: 95%;
  max-width: 100%;
}

.info-container {
  margin-top: 2rem;
}

.info__header {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 2rem 0 1.5rem;
  background-color: var(--color-shadow);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}

.info__header > h2 {
  color: var(--color-var);
  font-size: 2rem;
  font-weight: bold;
}

.info__about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vw 9vw;
  width: 100%;
}
/*
.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 9vw;
} */

.polaroid {
  padding: 1vh 6vw 0 2vw;
}

.polaroid img {
  object-fit: cover;
  height: 33vw;
  width: 33vw;
  max-width: 260px;
  max-height: 260px;
  min-width: 160px;
  min-height: 160px;
  border-radius: 300px;
  border: 3px var(--color-var) solid;
}

.about__text {
  font-size: 1.3rem;
  padding-top: .998vw;
}

.about__text > .br--margin {
  margin: 10px 0;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.contact-container a {
  margin-right: 20px;
}

.wpp-phone-link, .email-link {
  text-decoration: underline;
}

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-var);
}

.footer__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__info a {
  text-decoration: underline;
}

.info__text {
  padding: 3rem 0 2rem;
  text-align: center;
  font-size: 15px;
  width: 400px;
}

.footer__dev {
  text-align: center;
  padding: .6rem 0;
  font-size: 12px;
  background-color: var(--color-shadow);
  color: var(--color-var);
  opacity: .90;
}

.footer__dev a {
  text-decoration: underline;
  font-size: 13px;
  color: var(--color-var);
  font-variant: small-caps;
}

.fa-gitlab {
  color: var(--color-var);
}
