@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

:root {
  /* --primary-color: #2f1353;
  --primary-color-hover: #4c1b8c;
  --primary-color-border-hover: #33036f;
  --body-color: #212529; */
  --body-text-align: center;
  /* --body-bg-color: #fff; */
  --button-width: 30vw;
  --button-height: 65px;
  --button-min-width: 350px;
  --button-color-front: #f1e4f0;
  --button-color-back: #1a1719;
  /* --button-color-front: #1a1719;
  --button-color-back: #f1e4f0; */
  --translate-positive: 33px;
  --translate-negative:-33px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: var(--body-text-align);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../assets/background-min.jpg');
  background-size: cover;
  height: 100vh;
}

header, main {
  padding-top: 1rem;
  width: 100%;
}

.section__user {
  padding-top: 2rem;
}

.user__photo {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 250px;
}

.username {
  font-family: 'Baloo 2', cursive;
  color: #fff;
  margin-top: .7rem;
}

.section__btn {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

/* botões */
span{
  position: relative;
  display: inline-flex;
  min-width: var(--button-min-width);
  width: var(--button-width);
  height: var(--button-height);
  margin: 15px;
  perspective: 1000px;
}
span a{
  font-size: 16px;
  letter-spacing: 2px;
  transform-style: preserve-3d;
  transform: translateZ(var(--translate-negative));
  transition: transform .55s;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
span a:before,
span a:after{
  position: absolute;
  min-width: var(--button-min-width);
  width: var(--button-width);
  height: var(--button-height);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.content-orcamento::before,
.content-orcamento::after {
  content: "PEÇA SEU ORÇAMENTO";
}
.content-site::before,
.content-site::after {
  content: "ROSALIAFOTOGRAFIA.COM.BR";
}
.content-whats::before,
.content-whats::after {
  content: "MEU WHATSAPP";
}
.content-insta::before,
.content-insta::after {
  content: "MEU INSTAGRAM";
}
.content-email::before,
.content-email::after {
  content: "ME ENVIE UM E-MAIL";
}

span a:before{
  color: #000;
  background: var(--button-color-front);
  transform: rotateY(0deg) translateZ(var(--translate-positive));
}
span a:after{
  color: #fff;
  background: var(--button-color-back);
  transform: rotateX(90deg) translateZ(var(--translate-positive));
}
span a:hover{
  transform: translateZ(var(--translate-negative)) rotateX(-90deg);
}
/* Botões */

.logomarca {
  width: 55px;
  height: 55px;
  object-fit: cover;
}
