@media (min-width: 800px) {
  .header__menu {
    max-height: none;
    top: 0;
    position: absolute;
    width: fit-content;
    height: 100%;
    padding-right: 6vw;
  }

  .menu-list li {
    float: left;
  }

  .menu-list a {
    padding: 1rem 1rem;
  }

  .menu-list a:hover, .fa:hover {
    font-weight: bold;
  }

  .hamb {
    display: none;
  }

  .gallery__filters {
    display: relative;
  }

  .filter-label {
    display: relative;
  }
}

@media screen and (max-width: 1190px) {
  .top-content__h1 > h1 {
    font-size: 1.3rem;
  }

  .info__about-container {
    flex-direction: column;
    text-align: center;
  }

  .footer__info {
    flex-direction: column;
    align-items: center;
  }

  .info__text {
    padding: 1rem 0;
    width: 100%;
  }
}

@media screen and (max-width: 925px) {
  .top-content__h1 > h1, .about__text--size {
    font-size: 1rem;
  }

  #filters>label {
    grid-row: span 2;
    line-height: 3rem;
    font-size: 14px;
  }

  .header__logo, {
    font-size: .9rem;
  }
}

@media screen and (max-width: 800px) {
  .menu__item a, .about__text--size {
    font-size: 0.9rem;
  }

  .gallery__filters {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-content__h1 {
      margin-top: 30px;
      margin-bottom: 5px;
  }

  #gallery {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .info__text {
    font-size: 13px;
  }
}

@media screen and (max-width: 550px) {


  .gallery__filters {
    padding: .2rem 2vw;
  }
  .gallery-container {
    padding: 0 2vw;
  }

  .image-grid-2-cols {
    grid-column: span 1;
  }

  .image-grid-2-rows {
    grid-row: span 1;
  }

  .contact-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 290px) {
  .footer__dev>a {
    font-size: .4rem;
  }

  .gallery__filters {
    grid-template-columns: repeat(1, 1fr);
  }
}
